<!DOCTYPE html>
<html lang="en">
  <head>
    <%= stylesheet_link_tag    "atomic_lti/launch" %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
  </head>
  <body>
    <div class="aj-main">
      <div class="aj-error">
        <h1 class="aj-title">
          <i class="material-icons-outlined aj-icon" aria-hidden="true">error</i>
          <%= @message %>
        </h1>
      </div>
    </div>
  </body>
</html>
