<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      .hidden { display: none !important; }
    </style>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <script type="text/javascript">
      window.INIT_SETTINGS = <%= @settings.to_json.html_safe %>;
    </script>
    <%= stylesheet_link_tag "atomic_lti/launch" %>
    <%= javascript_include_tag "atomic_lti/init_app" %>
  </head>
  <body>
    <noscript>
      <div class="u-flex">
        <i class="material-icons-outlined aj-icon" aria-hidden="true">warning</i>
        <p class="aj-text">
          You must have javascript enabled to use this application.
        </p>
      </div>
    </noscript>
    <div id="main-content">
    </div>
    <script type="text/javascript">
      InitOIDCLaunch(window.INIT_SETTINGS);
    </script>
  </body>
</html>
