<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <%= stylesheet_link_tag "atomic_lti/launch" %>
  </head>
  <body>
      <noscript>
        <div class="u-flex aj-centered-message">
          <i class="material-icons-outlined aj-icon" aria-hidden="true">warning</i>
          <p class="aj-text">
            You must have javascript enabled to use this application.
          </p>
        </div>
      </noscript>
      <form action="<%= @launch_url -%>" method="POST" accept-charset="UTF-8">
        <% @launch_params.each do |name, value| -%>
          <%= hidden_field_tag(name, value) %>
        <% end -%>
      </form>
    </div>
    <script>
      window.addEventListener("load", () => {
        document.forms[0].submit();
      });
    </script>
  </body>
</html>
