<!DOCTYPE html>
<html>
<head>
  <title>Atomic lti</title>
  <%= stylesheet_link_tag    "atomic_lti/application", media: "all" %>
  <%= javascript_include_tag "atomic_lti/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
